PORT=3000
DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_USER=postgres.lwwtxzgwahssjtagvvwk
DB_PASS=your_database_password
DB_NAME=postgres
DB_PORT=5432
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false
JWT_SECRET=your_shared_jwt_secret
NODE_ENV=development
